div{
    width: 150px;
    height: 150px;
    float:left;
    margin: 5px;
}

.div1{background-color: aqua;}
.div2{background-color: black;}
.div3{background-color: blue;}

textarea{
    border: 1px solid gray;
    
}
